<h2>Register</h2>
{{#object-form for=model action="createUser" formClass="form-horizontal" buttonLabel="Register"}}
  {{form-field for='firstName'}}
  {{form-field for='lastName'}}
  {{form-field for='email'}}
  {{form-field for='password'}}
  {{form-field for='passwordConfirmation'}}
{{/object-form}}